/**************/
/* CSS REMEDY */
/**************/

/* fonts */
@font-face {
  font-family: "spongebobLettertype";
  src: url(../fonts/SpongeboyRegular-gx2n6.woff2) format("woff2");
}

@font-face {
  font-family: "LondrinaSolid-Thin";
  src: url(../fonts/LondrinaSolid-Light.woff2) format("woff2");
}

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

html {
  min-height:100dvh;
  cursor: url('../images/muis.png') 32 23, auto;
}

main {
  position: relative;
  margin:0;
  min-height:100dvh;
  display:grid;
  place-items:center;
  grid-template-rows: repeat(2, 1fr);
}

body {
  background-image: url("../images/achtergrond.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --fontTitel:"spongebobLettertype", arial, helvetica, sans-serif;
  --fontPlatteTekst: "LondrinaSolid-Thin", helvetica, sans-serif;

  --spongebobGeel: #f0e33f;
}


/********************/
/* ALGEMENE STYLING */
/********************/

/* tekst */
h1 {
  font-size: 2em;
  font-family: var(--fontTitel);
  color:var(  --spongebobGeel);
  text-shadow: 0.1em 0.1em #000000;

  position: absolute;
  left: 0;
  right: 0;
  top: 1em;
  text-align: center; 
}


/* Bellen */
.onzichtbaar {
  display: none;
}

dialog form{
  display: inline-block;
  font-size: 0.8em;
  list-style-type: none;
  margin: 0 3em 0 3.3em;
  z-index: 4;
}

dialog form p:last-of-type,
dialog form h3:last-of-type {
  margin: 1em 5em -1em 5em;
}

/* Bellen tekst */
/* Bellen - titel */
dialog form h2{
  font-size: 2.5em;
  color: var(  --spongebobGeel);
  text-shadow: 0.1em 0.1em #000000;
  text-align: center;
  margin-top: -2em;
  font-family: var(--fontTitel);
  margin-bottom: 0.1em;
}

/* Bellen - intro tekst */
dialog form p:nth-of-type(1),
dialog form p:nth-of-type(2),
dialog form p:nth-of-type(3),
dialog form p:nth-of-type(4){
    font-size: 0.9em;
    text-align: center;
    font-family: var(--fontTitel);
    margin:0;
}

/* Bellen - subkop h3 */
h3{
  font-size: 0.9em;
  font-family: var(--fontTitel);
  margin-bottom: -0.9em;
  margin-top: 1.5em;
}

#bel5 h3:first-of-type{
  margin-top: 0.2em;
}

/* Bellen - platte tekst */
dialog form p{
  font-family: var(--fontPlatteTekst);
  font-size: 0.9em;
}

/* bel */
/* Bron voor de code: https://codepen.io/theunnamedrd/pen/dyRqqej 
  Ik heb de code eigen gemaakt.  */
.belZichtbaar{
  display: flex;
  justify-content: center;
  margin: 0;
  padding:0;
  left:auto;
  right:auto;
	position: absolute;
	border-radius: 50%;
	background: linear-gradient(to left, #7e94bf, #88bfb0);
	box-shadow: 0.125em 0.3125em 0.3125em rgba(0, 0, 0, 0.2);
  width: 42em;
  height: 42em;
  align-items: center;
  z-index: 2;
  border: 20px solid #84b9bf;
}

/* overlay als je op een bel klikt */
.overlay{
  position: absolute;
	display: none;
	height: 100vh;
	width: 100vw;
	background: #84b9bf;
  z-index: 2;
  opacity: 0.5;
}

.show-overlay{
  display: block;
}

/* witte vlek op de bubbel */
.belZichtbaar{
  z-index: 3;
}
.belZichtbaar:after {
	content: "";
	position: absolute;
	display: block;
	top: 20%;
	right: 10%;
	height: 9em;
	width: 4em;
	border-radius: 50%;
	background: white;
	overflow: hidden;
  opacity: 0.2;
  z-index: 3;
}

/* cursor veranderen */
#bel1:hover, 
#bel2:hover,
#bel3:hover,
#bel4:hover,
#bel5:hover{
  cursor: url('../images/naald.png') 50 100, auto;
}


/* kwallen */
ol {
  list-style-type: none;
  display: flex; 
  justify-content: center; 
  grid-row: 1 / 2;
}

ol li {
  margin: 1.5em; 
}

ol li button {
  height: auto; 
  border: none;
  background-color: transparent;
}

ol li button:hover {
  cursor: url('../images/muis.png') 32 23, auto;
  filter: drop-shadow(0 0 0.75rem rgb(130, 121, 152));
}

ol li button:focus{
  outline: none;
  filter: drop-shadow(0 0 0.75rem crimson);
}

ol li button:active{
  outline: none;
  filter: drop-shadow(0 0 0.75rem blue);
}

/* spongebob GIF */
main>button:first-of-type {
  position: absolute;
  right: -40em;
  bottom: 0;
  animation-name: spongebobRennen; 
  animation-duration: 19s; 
  animation-iteration-count: 3; 
  border: none;
  background-color: transparent;
}

@keyframes spongebobRennen{
  0% {
    right: -40em;
    transform: scaleX(1);
  }
  50% {
    right: 100%;
    transform: scaleX(1);
  }
  51% {
    right: 100%;
    transform: scaleX(-1);
  }
  100% {
    right: -40em;
    transform: scaleX(-1);
  }
}

main>button:first-of-type:focus{
  outline: none;
  filter: drop-shadow(0 0 0.75rem crimson);
}
main>button:first-of-type:active{
  outline: none;
  filter: drop-shadow(0 0 0.75rem blue);
}

/* jellyfish field bord */
main>img:last-of-type{
  position: absolute;
  z-index: -2;
  left:0;
  bottom:35%;
}

/* spongebob met potlood  */
main>img:nth-of-type(1){
  position: absolute;
  z-index: -2;
  max-width: 7%;
  right:1%;
  top:38%;
}



/********************/
/* ANIMATIE */
/********************/

/* ************ */
/* kwallen animatie  */
/* Animatie - kwal 1 */
@keyframes kwallen {
  0%{
    transform: translateY(8em); 
    animation-timing-function: ease-in-out;
  }

  15%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }

  20%{
    transform: translateY(5em); 
    animation-timing-function: ease-in-out;

  }

 25%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }



  40%{
    transform: translateY(0.5em); 
    animation-timing-function: ease-in-out;
  }

  45%{
    transform: translateY(1em); 
    animation-timing-function: ease-in-out;
  }
  50%{
    transform: translateY(0.5em); 
    animation-timing-function: ease-in-out;
  }

  55%{
    transform: translateY(1em); 
    animation-timing-function: ease-in-out;
  }

  

  75%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }

  80%{
    transform: translateY(5em); 
    animation-timing-function: ease-in-out;
  }

  85%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }


 
  100% {
    transform: translateY(8em); 
    animation-timing-function: ease-in-out;
  }
}

ol li {
  animation-name: kwallen; 
  animation-duration: 10s; 
  animation-iteration-count: infinite; 
}

/* ************ */
/* Animatie - kwal 2 */
@keyframes kwal2 {
  0%{
    transform: translateY(8em); 
    animation-timing-function: ease-in-out;
  }

  15%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }

  20%{
    transform: translateY(5em); 
    animation-timing-function: ease-in-out;

  }

 25%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }



  40%{
    transform: translateY(0.5em); 
    animation-timing-function: ease-in-out;
  }

  45%{
    transform: translateY(1em); 
    animation-timing-function: ease-in-out;
  }
  50%{
    transform: translateY(0.5em); 
    animation-timing-function: ease-in-out;
  }

  55%{
    transform: translateY(1em); 
    animation-timing-function: ease-in-out;
  }

  

  75%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }

  80%{
    transform: translateY(5em); 
    animation-timing-function: ease-in-out;
  }

  85%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }


 
  100% {
    transform: translateY(8em); 
    animation-timing-function: ease-in-out;
  }
}

ol li:nth-of-type(2) {
  animation-name: kwal2; 
  animation-duration: 17s; 
  animation-iteration-count: infinite; 
}



/* ************ */
/* Animatie - kwal 3 */
@keyframes kwal3 {
  0%{
    transform: translateY(0.5em); 
    animation-timing-function: ease-in-out;
  }

  15%{
    transform: translateY(1em); 
    animation-timing-function: ease-in-out;
  }

  20%{
    transform: translateY(0.5em); 
    animation-timing-function: ease-in-out;

  }

 25%{
    transform: translateY(1em); 
    animation-timing-function: ease-in-out;
  }



  40%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }

  45%{
    transform: translateY(5em); 
    animation-timing-function: ease-in-out;
  }
  50%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }

  55%{
    transform: translateY(5em); 
    animation-timing-function: ease-in-out;
  }

  

  75%{
    transform: translateY(1em); 
    animation-timing-function: ease-in-out;
  }

  80%{
    transform: translateY(0.5em); 
    animation-timing-function: ease-in-out;
  }

  85%{
    transform: translateY(1em); 
    animation-timing-function: ease-in-out;
  }


 
  100% {
    transform: translateY(0.5em); 
    animation-timing-function: ease-in-out;
  }
}

ol li:nth-of-type(3) {
  animation-name: kwal3; 
  animation-duration: 10s; 
  animation-iteration-count: infinite; 
}


/* ********** */
/* Animatie - kwal 4 */
@keyframes kwal4 {
  0%{
    transform: translateY(8em); 
    animation-timing-function: ease-in-out;
  }

  15%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }

  20%{
    transform: translateY(5em); 
    animation-timing-function: ease-in-out;

  }

 25%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }



  40%{
    transform: translateY(0.5em); 
    animation-timing-function: ease-in-out;
  }

  45%{
    transform: translateY(1em); 
    animation-timing-function: ease-in-out;
  }
  50%{
    transform: translateY(0.5em); 
    animation-timing-function: ease-in-out;
  }

  55%{
    transform: translateY(1em); 
    animation-timing-function: ease-in-out;
  }

  

  75%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }

  80%{
    transform: translateY(5em); 
    animation-timing-function: ease-in-out;
  }

  85%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }


 
  100% {
    transform: translateY(8em); 
    animation-timing-function: ease-in-out;
  }
}

ol li:nth-of-type(4) {
  animation-name: kwal4; 
  animation-duration: 15s; 
  animation-iteration-count: infinite; 
}


/* ************ */
/* Animatie - kwal 5 */
@keyframes kwal5 {
  0%{
    transform: translateY(0.5em); 
    animation-timing-function: ease-in-out;
  }

  15%{
    transform: translateY(1em); 
    animation-timing-function: ease-in-out;
  }

  20%{
    transform: translateY(0.5em); 
    animation-timing-function: ease-in-out;

  }

 25%{
    transform: translateY(1em); 
    animation-timing-function: ease-in-out;
  }



  40%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }

  45%{
    transform: translateY(5em); 
    animation-timing-function: ease-in-out;
  }
  50%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }

  55%{
    transform: translateY(5em); 
    animation-timing-function: ease-in-out;
  }

  

  75%{
    transform: translateY(1em); 
    animation-timing-function: ease-in-out;
  }

  80%{
    transform: translateY(0.5em); 
    animation-timing-function: ease-in-out;
  }

  85%{
    transform: translateY(1em); 
    animation-timing-function: ease-in-out;
  }


 
  100% {
    transform: translateY(0.5em); 
    animation-timing-function: ease-in-out;
  }
}

ol li:nth-of-type(5) {
  animation-name: kwal5; 
  animation-duration: 20s; 
  animation-iteration-count: infinite; 
}

/* *************************** */
/* Animatie - ZERO STATE - animatie h1 */
@keyframes zeroState{
  0%{
  opacity: 1;
  }

  90%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    visibility: hidden;
  }
}

h1{
  animation-name: zeroState; 
  animation-duration: 20s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}


/* ************ */
/* Animatie - doodlebob */
@keyframes potloodSpongebob{
  0%{
    opacity: 0;
    visibility: hidden;
  }
    99%{
      opacity: 0;
      visibility: hidden;
    }
    100%{
      opacity: 1;
    }
}

main>img:nth-of-type(1){
  animation-name: potloodSpongebob; 
  animation-duration: 50s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}


/* bronnen van content staat op miro */