/**************/
/* CSS REMEDY */
/**************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

html {
  min-height:100dvh;
  cursor: url('../images/muis.png') 32 23, auto;
  
}

body {
  margin:0;
  background-image: url("../images/achtergrond.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height:100dvh;

  display:grid;
  place-items:center;
  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson
  /* ... */

}





/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
}


/* kwallen */
ul{
  list-style-type: none;
}

ul li{
  justify-content: space-between;
  display: inline;
  /* place-content:center; */
  flex-direction: row;
  /* align-items: center; */

}

ul li img{

}