/**************/
/* CSS REMEDY */
/**************/

/* fonts */
@font-face {
  font-family: "spongebobLettertype";
  src: url(../fonts/SpongeboyRegular-gx2n6.woff2) format("woff2");
}

@font-face {
  font-family: "LondrinaSolid-Thin";
  src: url(../fonts/LondrinaSolid-Light.woff2) format("woff2");
}

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

html {
  min-height:100dvh;
  cursor: url('../images/muis.png') 32 23, auto;
}

body {
  position: relative;
  margin:0;
  background-image: url("../images/achtergrond.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height:100dvh;
  display:grid;
  place-items:center;
  grid-template-rows: repeat(2, 1fr);
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --fontTitel:"spongebobLettertype", arial, helvetica, sans-serif;
  --fontPlatteTekst: "LondrinaSolid-Thin", helvetica, sans-serif;
}





/********************/
/* ALGEMENE STYLING */
/********************/


/* bellen */
.onzichtbaar {
  display: none;
}

ul:nth-of-type(2) li, 
ul:nth-of-type(3) li, 
ul:nth-of-type(4) li, 
ul:nth-of-type(5) li, 
ul:nth-of-type(6) li{
  display: inline-block;
  font-family: var(--fontTitel);
  font-size: 0.8em;
  list-style-type: none;
  display:flex;
  margin:0 2em 0 2em;
  z-index: 4;
}

/* Bellen - titel */
ul:nth-of-type(2) li:nth-of-type(1), 
ul:nth-of-type(3) li:nth-of-type(1),
ul:nth-of-type(4) li:nth-of-type(1), 
ul:nth-of-type(5) li:nth-of-type(1), 
ul:nth-of-type(5) li:nth-of-type(1),
ul:nth-of-type(6) li:nth-of-type(1){
  font-size: 2em;
  color:#f0e33f;
  text-shadow: 3px 3px #000000;
}

/* Bellen - laatste paar regels in een ander lettertype */
ul:nth-of-type(2) li:nth-of-type(7), ul:nth-of-type(2) li:nth-of-type(8), ul:nth-of-type(2) li:nth-of-type(9),
ul:nth-of-type(3) li:nth-of-type(7), ul:nth-of-type(3) li:nth-of-type(8), ul:nth-of-type(3) li:nth-of-type(9),
ul:nth-of-type(4) li:nth-of-type(7), ul:nth-of-type(4) li:nth-of-type(8), ul:nth-of-type(4) li:nth-of-type(9),
ul:nth-of-type(5) li:nth-of-type(7), ul:nth-of-type(5) li:nth-of-type(8), ul:nth-of-type(5) li:nth-of-type(9),
ul:nth-of-type(6) li:nth-of-type(7), ul:nth-of-type(6) li:nth-of-type(8), ul:nth-of-type(6) li:nth-of-type(9){
  margin-top: 0.75em;
  font-family: var(--fontPlatteTekst);
  font-size: 0.9em;
}

/* bel */
/* Bron voor de code: https://codepen.io/theunnamedrd/pen/dyRqqej 
  Ik heb de code eigen gemaakt.  */
.belZichtbaar{
  display: flex;
  justify-content: center;
  margin: 0;
  padding:0;
	position: absolute;
	border-radius: 40%;
	background-color: white;
	background: linear-gradient(to left, #7e94bf, #88bfb0);
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  width: 40em;
  height: 40em;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

/* rand om de bubbel */
.belZichtbaar:before {
	content: "";
	position: absolute;
	display: block;
	height: 42em;
	width: 42em;
	border-radius: 40%;
	background: #84b9bf;
	opacity: 0.8;
	overflow: hidden;
  z-index: 1;
}

/* witte vlek op de bubbel */
.belZichtbaar:after {
	content: "";
	position: absolute;
	display: block;
	top: 12%;
	right: 10%;
	height: 9em;
	width: 4em;
	border-radius: 50%;
	background: white;
	overflow: hidden;
  opacity: 0.2;
  z-index: 3;
}


/* cursor veranderen */
#bel1:hover, 
#bel2:hover,
#bel3:hover,
#bel4:hover,
#bel5:hover{
  cursor: url('../images/naald.png') 50 100, auto;
}


/* kwallen */
ul:first-of-type {
  list-style-type: none;
  display: flex; 
  justify-content: center; 
  grid-row: 1 / 2;
}

ul:first-of-type li {
  margin: 1.5em; 
}

ul:first-of-type li img {
  height: auto; 
}


/* spongebob GIF */
body>img:first-of-type{
  position: absolute;
  right: -30em;
  bottom: 0;
  animation-name: spongebobRennen; 
  animation-duration: 17s; 
  animation-iteration-count: 3; 
}

@keyframes spongebobRennen{
  0% {
    right: -30em;
    transform: scaleX(1);
  }
  50% {
    right: 100%;
    transform: scaleX(1);
  }
  51% {
    right: 100%;
    transform: scaleX(-1);
  }
  100% {
    right: -30em;
    transform: scaleX(-1);
  }
}


/********************/
/* ANIMATIE */
/********************/

/* kwallen animatie  */
@keyframes kwallen {
  0%{
    transform: translateY(8em); 
    animation-timing-function: ease-in-out;
  }

  15%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }

  20%{
    transform: translateY(5em); 
    animation-timing-function: ease-in-out;

  }

 25%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }



  40%{
    transform: translateY(0.5em); 
    animation-timing-function: ease-in-out;
  }

  45%{
    transform: translateY(1em); 
    animation-timing-function: ease-in-out;
  }
  50%{
    transform: translateY(0.5em); 
    animation-timing-function: ease-in-out;
  }

  55%{
    transform: translateY(1em); 
    animation-timing-function: ease-in-out;
  }

  

  75%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }

  80%{
    transform: translateY(5em); 
    animation-timing-function: ease-in-out;
  }

  85%{
    transform: translateY(4.5em); 
    animation-timing-function: ease-in-out;
  }


 
  100% {
    transform: translateY(8em); 
    animation-timing-function: ease-in-out;
  }
}

ul:first-of-type li {
  animation-name: kwallen; 
  animation-duration: 10s; 
  animation-iteration-count: infinite; 
}